
@{
    ViewBag.Title = "Administration";
}

<!-- Page Heading -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="text-center">Welcome Administrator</h1>
        <h4>Manage your Web site from here</h4>

    </div>
    <div class="panel-body panel-info">
        <img class="img-responsive" src="~/Content/images/others/achievement-adult-book-1043514.jpg" />
    </div>
</div>
