@{
    ViewBag.Title = "About Us";
}

<div class="container-fluid">
    <section>
        <div class="jumbotron text-center">
            <h1 class="text-center">
                <b class="text-uppercase"> @ViewBag.Title</b>
            </h1>
            <p style="color:white;font-style:italic"> Learn about us our motives and how we started and how we are Paving the Road Towards a Better Future.</p>
        </div>
    </section>
</div>

<div style="margin-top:-80px" id="fh5co-feature-product" class="fh5co-section-gray">

    <div class="container">
        <div class="row">
            <h3><strong> How Leaders of Positive Change works </strong></h3>
            <hr style="border:black 1px solid"/>
            <div class="col-md-12 heading-section">
                <p>
                    We’re here to make sure all children who need help, get help.
                    That is what we do… we need to help each other by creating a culture of mutual trust and respect.
                </p>
                <p>
                    On a daily basis we put our belief in diversity and equality into practice and ensure
                    that everyone gets the chance to progress and achieve great things.
                </p>
                <h4 class="text-center" style="font-size:2em">We are in this together…</h4>
                <p>
                    When people succeed, we succeed with them because that is our Mission…and
                    When we succeed we make sure that our success reaches thousands of young people and children….because that is our job; we make people’s lives better.
                </p>
            </div>
            <br/>
        </div>

        <div class="row row-bottom-padded-md">

            <div class="col-md-6 text-center">
                <p><img src="~/Content/images/aboutus/melissa-askew-642108-unsplash.jpg" title="Photo by Melissa Askew on Unsplash" alt="Photo by Melissa Askew on Unsplash" class="img-responsive"></p>
            </div>
            <div class="col-md-6 text-center ">
                <p><img src="~/Content/images/homescreen/ghost-presenter-749416-unsplash.jpg" title="Photo by Jeremy Bishop on Unsplash" alt="Photo by Jeremy Bishop on Unsplash" class="img-responsive"></p>
            </div>

            <div class="col-md-12 text-center ">
                <section>
                    <div class="text-center">
                        <h2 class="text-uppercase"> <strong>Our Values and Vision  </strong></h2>
                        <p>Our vision is to create a world where orphan children have similar opportunities as our children.</p>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>Love</h3>
                    <p>
                        The way you get meaning into your life is to devote yourself to loving others, devote yourself to your community around you,
                        and devote yourself to creating something that gives you purpose and meaning.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>Compassion</h3>
                    <p>
                        Everything we do has been for the unity and equality of all children in society and it is a core principle within positive change.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>Charity</h3>
                    <p>
                        There is something good in this world, and it's worth fighting for, and this is what we fight for. Giving these children hope that
                        their lives can be a better place.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>