@{
    ViewBag.Title = "OurProjects";
}

<div class="container-fluid">
    <section>
        <div class="jumbotron text-center">
            <h2 class="text-center">
                <b class="text-uppercase">Our Projects</b>
            </h2>
            <p style="color:white;font-style:italic"> Our goal is to help others to help others who are less fortunate and our Gallery shows how we making a difference.</p>
        </div>
    </section>
</div>

<!-- fh5co-content-section -->
<div id="fh5co-services-section" style="margin-top:-40px">
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section">
                    <h3>Support Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row text-center">

            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>

                <div class="services">
                    <span><i class="icon-heart"></i></span>
                    <h3>Water Project In Kenya</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>
                <div class="services">
                    <span><i class="icon-heart"></i></span>
                    <h3>Shelter Giving</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>
                <div class="services">
                    <span><i class="icon-heart"></i></span>
                    <h3>Shelter Giving</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>

                <div class="services">
                    <span><i class="icon-heart"></i></span>
                    <h3>Water Project In Kenya</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>

                <div class="services">
                    <span><i class="icon-heart"></i></span>
                    <h3>Water Project In Kenya</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>

                <div class="services ">
                    <span><i class="icon-heart"></i></span>
                    <h3>Midical Mission</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</div>



