
@{
    ViewBag.Title = "Our Team";
}


<div class="container-fluid">
    <section>
        <div class="jumbotron text-center">
            <h1 class="text-center">
                <b class="text-uppercase"> @ViewBag.Title</b>
            </h1>
            <p style="color:white;font-style:italic"> Meet our motivated and inspired team members.</p>
        </div>
    </section>
</div>

<div style="margin-top:-30px" id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section">
                <h2>Leadership, Volunteers and Dream Team</h2>
                <p>Here at Leaderships of Positive Change everyone is a leader and but putting the team and others first is attitude we all possess</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-team text-center">
                    <figure>
                        <img src="~/Content/images/teams/frank.jpg" alt="user">
                    </figure>
                    <div>
                        <h3>Frank</h3>
                        <p><span>Founder</span></p>
                        <p>Founder of Leadership of positive change. A passionate and loving father who wants to see ophans get the same opportunities as his own children</p>
                    </div>

                    <p class="fh5co-social-icons">
                        <a href="https://www.instagram.com/frankbuyungo/" target="_blank">
                            <i class="icon-instagram2"></i>
                        </a>
                        <a href="https://www.facebook.com/frank.buyungo" target="_blank">
                            <i style="" class="icon-facebook3"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-team text-center">
                    <figure>
                        <img src="~/Content/images/teams/inyambae.jpg" alt="user">
                    </figure>
                    <div>
                        <h3>Inyambae Kanu</h3>
                        <p><span>Volunteer</span></p>
                        <p>A software developer who is motivated and hopeful to making the world a better place by helping those less fornate back in Africa.</p>
                    </div>
                    <p class="fh5co-social-icons">
                        <a href="#">
                            <i class="icon-instagram2"></i>
                        </a>
                        <a href="https://www.facebook.com/inyambae.kanu" target="_blank">
                            <i class="icon-facebook3"></i>
                        </a>
                    </p>
                </div>
            </div>
 
        </div>
    </div>

    <br />
    <br />
</div>